@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .heading-primary {
    @apply text-2xl font-semibold text-white text-center my-4
  }
  .heading-secondary {
    @apply text-2xl font-semibold text-white text-center mb-4
    }
  .button-primary {
    @apply text-center mt-2 w-full rounded-lg bg-purple-600 p-4 font-semibold text-white
  }
  .form-input {
    @apply mt-2 
    w-full 
    rounded-lg 
    border-gray-400 
    bg-gray-200
    bg-opacity-20 
    shadow-sm
    font-semibold
    placeholder-white
    placeholder-opacity-50
    text-white
    text-lg 
    p-4
    focus:ring-2 focus:ring-purple-600
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
